<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
       xmlns:xacro="http://ros.org/wiki/xacro">

	<property name="M_PI" value="3.1415926535897931" />

	<!-- Casters -->
	<property name="cal_caster_fl" value="0.0" />
	<property name="cal_caster_fr" value="0.0" />
	<property name="cal_caster_bl" value="0.0" />
	<property name="cal_caster_br" value="0.0" />

</robot>
